.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  animation: spin 1s linear infinite;
}

.small {
  width: 20px;
  height: 20px;
}

.medium {
  width: 40px;
  height: 40px;
}

.large {
  width: 60px;
  height: 60px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
